.vscode/

deeptutorial.egg-info/
papers/
images/
weights/
bias_variance/__pycache__/
cnn/__pycache__/
logistic_regression/__pycache__/
softmax_regression/__pycache__/
multilayer_nn/__pycache__/
pckutils/__pycache__/
.ipynb_checkpoints/
*.gz
*.mnist
*.json
